body { font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    background:skyblue;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLHnKlLf3-wjrNHkC3QBZ2wvAPo-q2HlXlcg&s');
    }

.weather { background: #fff;
    padding: 20px;
    margin: 50px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.input, button { padding: 8px;
    margin: 5px 0;
    width: 100%;
    background-color: gold;
    color: blue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    border-radius: 10px;
}